@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vaildation Checker</h1>
    <div class="btn  ">
        <p style="color:white">
            @Html.ActionLink("Go to Validate", "Contact")
        </p>
    </div>
</div>